<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<title>Registro Usuario</title>
<style>
    

</style>
</head>

<div class="container">
<h1>Resgistro de un Usuario</h1>

<h2>{{error}}</h2>

<form action="/signup/"  method="POST">
    {% csrf_token %}
    {{form.as_p}}


    <button>
        Registrarse
    </button>
</form>
<button><a href="/signin/">Iniciar Seccion</a></button>
</div>

